body{
background-image: url("../images/tetxre.jpg");


}
h1{
color: rgb(62, 240, 26);


}
hr{
border-color: rgb(255, 0, 0);
border-radius: 5px;
border-width: 3px;
margin-left: 5%;
margin-right: 5%;
}
a{
  color: rgb(194, 8, 8);
}
h2{
  color: rgb(15, 98, 2);
}
